body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.bg-secondary{
    background-color: #1c2a43;
}

.bg-primary{
    background-color: #213448;
}

.bg-gray-custom{
    background-color: #94B4C1;
}

.bg-cream{
    background-color: #ECEFCA;
}

.text-secondary{
    color: #547792;
}

.text-primary{
    color: #213448;
}

.text-gray-custom{
    color: #94B4C1;
}

.text-cream{
    color: #ECEFCA;
}

.border-primary{
    border-color: #213448;
}